<form ng-controller = "nodeController" data-ng-init="getNode()">

    Name:
    <input type="text" name="myNodeName" ng-model="entity.name"/>

    <br/><br/>

    Node Type:
    <select name="myNodeType" ng-model="myNodeType" data-ng-init="getNodeTypes()">
        <option value="">Select type</option>
        <option ng-repeat="entity in entities" value="{{entity.id}}" >{{entity.name}}</option>
    </select>

    <br/><br/>

    Script:
    <textarea name="nodeScript" ng-model="entity.script.source"></textarea>

    <br/><br/>

    <input type="checkbox" name="nodePrivacy" ng-model="nodePrivacy"/> Private

    <br/><br/>

    <button type="submit" name="createNode" class="btn btn-lg btn-block btn-primary">Create node</button>

</form>