<form ng-controller="userController" ng-submit="adminUpdateUser()" data-ng-init="adminGetUser()">

    Name:
    <input type="text" name="name" ng-model="entity.name"/>
    <br/><br/>

    Username:
    <input type="text" name="username" ng-model="entity.username"/>
    <br/><br/>

    Email:
    <input type="text" name="email" ng-model="entity.accounts[0].userEmails[0].email"/>
    <br/><br/>

    Password:
    <input type="password" name="password" ng-model="password"/>
    <br/><br/>

    User type:
    <select name="userType" ng-model="entity.type" data-ng-init="getUserTypes()">
        <option value="">Select user type</option>
        <option ng-repeat="attribute in attributes" value="{{attribute}}">{{attribute}}</option>
    </select><br/><br/>

    <button type="submit" name="updateUser" class="btn btn-lg btn-block btn-primary">Update user</button>
</form>